[user]
	email = gtonky@gmail.com
	name = Igor Tonkopryadchenko
[color]
    ui = auto
    # branch = auto
    # diff = auto
	interactive = auto
    # status = auto
[core]
	editor = nvim
[alias]
    a = add
    aa = add .
    au = add -u
	b = branch
	br = branch -r
	cl = clone
	c = commit
	cm = commit -m
	ca = commit -a -m
	am = commit --amend
	co = checkout
    d = diff
    dh = diff HEAD
    ds = diff --staged
    h = help
    mnf = merge --no-ff
    l = log --graph --raw -n 200
    la = log --graph --raw
    pa = push --all
	s = status
	sm = submodule
	smi = submodule init
	smu = submodule update
    r = rebase

[branch "*"]
	mergeoptions = --no-ff

[branch "master"]
    remote = origin
    merge = refs/heads/master

[push]
	default = simple
	followTags = true

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[protocol]
	version = 2
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = master
